* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: sans-serif;
	background-color: #888;
}

main {
	width: 1024px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid gray;

	font-size: 3rem;

}

.about, .portfolio, .contact {
	padding: 20px;
}

.clearfix {
	display: inline-block;
    width: 100%;
}

nav {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #722972;
}

nav ul li {
	float: right;
	display: inline-block;
	font-size: 2rem;
	padding: 20px;
}

nav ul li a {
	color: #fff;
}

.about {
	background-color: #aaa;
}

.description {
	width: 70%;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 2rem;

}

.description p:first-of-type, .description hr {
	margin-bottom: 50px;
}

.about .img-container {
	display: inline-block;
	width: 25%;
}

.about img {
	text-align: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-top: 10px;
}

/* Portfolio style section */

.portfolio {
	background-color: #eee;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

.hr {
	width: 250px;
    color: #888;
    background-color: #888;
    margin: 20px auto;
    height: 3px;
}

.featured-work-item {
	float: left;
	width: 50%;
	text-align: center;
}

.contact {
	background-color: #eee;
}

.float-left {
	float: left;
	width: 50%;
}

footer {
	font-size: 3rem;
}

.info {
	padding: 75px;
	background-color: #aaa;
	text-align: center;
}

.rights {
	width: 100%;
	background-color: #722972;
	text-align: center;
}